#header
{
background-color:darkslategray;
width:100%;
height:20%;
}

#thumb
{
height:40px;
Width:35px;
margin-left:65px;
margin-top:30px;
}

#vict a
{
text-decoration:none;
color:snow;
}

#vict
{
color:white;
font-size:20px;
padding-top:5px;
margin-left:20px;
}

#thumb1
{
height:40px;
Width:40px;
float:right;
margin-top:30px;
margin-right:40px;
}

#vv
{
float:right;
margin-right:10px;
color:white;
font-size:20px;
}


#navMenu
{
margin-left:7%;
padding:0;
border:1px solid bfbfbf;
border-radius:20px;
}

#navMenu ul
{
margin:0;
padding:0;
line-height:30px;
}

#navMenu li
{
margin:0;
padding:0;
float:left;
position:relative;
background:#FFFFFF;
}

#navMenu ul ul
{
visibility:hidden;
top:30px;
position:absolute;
}

#navMenu ul li:hover li
{
visibility:visible;
text-align:left;
padding-left:5px;
}

#navMenu ul li a
{
font-family:"calibri";
font-size:20px;
text-decoration:none;
height:30px;
width:150px;
display:block;
color:FireBrick;
}

#navMenu a:hover
{
color:black;
}

#vv a
{
text-decoration:none;
color:snow;
font-size:20px;
}

#vict2
{
float:right;
color:snow;
font-size:15px;
margin-right:5px;
}

#vict2 a
{
text-decoration:none;
color:snow;
font-size:15px;
margin-right:5px;
}

#aboutus0
{
margin-left:10px;
padding-top:5px;
padding:15px;
border:1px solid black;
background-color:0A1010;
}

#aboutus2
{
color:#ffffff;
float:right;
margin-right:10px;
border:5px solid red;
background-color:red;
height:19px;
border-radius:5px;
}

#aboutus2 a
{
text-decoration:none;
color:snow;
}

#aboutus1
{
width:65%;
color:ffffff;
font-family:calibri;
margin-left:10px;
font-size:20px;
}

#aboutus1 h1
{
font-size:25px;
}

#thumb3
{
float:right;
width:350px;
height:350px;
margin-right:20px;
padding-top:15px;
}


#thumb4
{
width:76%;
float:center;
margin-left:12.5%;
}

#thumb5
{
width:25%;
height:35%;
float:left;
padding:5px;
margin-left:5%;
}

#custo1
{
margin-left:12.5%;
width:76%;
height:80%;
font-family:aharoni;
color:maroon;
border:1px solid white;
background-color:ffffff;
}
#custo1 ul li
{
display:inline;
text-decoration:none;

} 
#ri
{
width:70%;
float:right;
}

#le
{
margin-top:10px;
padding-left:5px;
border:1px solid white;
width:20%;
background-color:white;
font-family:aharoni;
padding:5px;
margin-left:15px;
border-radius:10px;
}

#create
{
font-family:calibri;
margin-left:5px;
background-color:white;
font-size:20px;
padding-left:5px;
}

#create a
{
text-decoration:none;
color:firebrick;
}

#form
{
width:100%;
margin-left:5px;
}

#gen
{
border:2px solid #989898;
border-width:100%;
border-radius:7px;
padding-left:5pxs;
}

#login
{
float:left;
background-color:white;
width:50%;
height:350px;
}

#login2
{
float:right;
background-color:white;
width:50%;
height:350px;
}

#login3
{
color:#ffffff;
border:5px solid red;
background-color:red;
height:19px;
border-radius:5px;
width:45px;
margin-left:5px;
}

#login3 a
{
text-decoration:none;
color:snow;
}

#login4
{
font-size:15px;
color:#ffffff;
border:5px solid red;
background-color:red;
height:19px;
border-radius:5px;
width:100px;
margin-left:5px;
float:left;
}

#login4 a
{
text-decoration:none;
color:snow;
}

#lg
{
background-color:white;
}

#thumb5
{
width:25%;
height:35%;
float:left;
padding:5px;
margin-left:5%;
}

#custo1
{
margin-left:12.5%;
width:76%;
height:80%;
font-family:aharoni;
color:maroon;
border:1px solid white;
background-color:ffffff;
}

#custo1 ul li
{
display:inline;
text-decoration:none;
} 

#ri
{
width:70%;
float:right;
}

#le
{
margin-top:10px;
padding-left:5px;
border:1px solid white;
width:20%;
background-color:white;
font-family:aharoni;
padding:5px;
margin-left:15px;
border-radius:10px;
}

#create
{
font-family:calibri;
margin-left:5px;
background-color:white;
font-size:20px;
padding-left:5px;
}

#create a
{
text-decoration:none;
color:firebrick;
}

#form
{
width:100%;
margin-left:5px;
}

#gen
{
border:2px solid #989898;
border-width:100%;
border-radius:7px;
padding-left:5pxs;
}

#login
{
float:left;
background-color:white;
width:50%;
height:350px;
}

#login2
{
float:right;
background-color:white;
width:50%;
height:350px;
}

#login3
{
color:#ffffff;
border:5px solid red;
background-color:red;
height:19px;
border-radius:5px;
width:47px;
margin-left:5px;
text-align:center;
}

#login3 a
{
text-decoration:none;
color:snow;
}

#login4
{
font-size:15px;
color:#ffffff;
border:5px solid red;
background-color:red;
height:19px;
border-radius:5px;
width:100px;
margin-left:5px;
float:left;
}

#login4 a
{
text-decoration:none;
color:snow;
}

#lg
{
background-color:white;
}

#sub
{
background-color:red;
color:white;
border:1px solid red;
height:30px;
width:67px;
margin-left:10px;
margin-bottom:10px;
font-size:15px;
border-radius:5px;
}

#thumb2
{
width:150px;
}

#button
{
height:30px;
border:1px solid white;
border-radius:5px;
}

#button1
{
height:30px;
padding-right:25px;
margin-right:25px;
}

#cong
{
background-color:white;
height:850px;
padding-left:5px;
padding-top:5px;
border:1px solid white;
border-radius:5px;
font-size:30px;
}

#cong a
{
text-decoration:none;
color:black
}

#h11
{
Font-size:45px;
}

#vic21
{
margin-left:15%;
border:1px solid white;
border-radius:25px;
padding-top:10px;
height:500px;
width:70%;
}